@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@media (max-width: 2540) {
  .main-container {
    width: 50%;
  }
}

@media (max-width: 2414) {
  .main-container {
    width: 60%;
  }
}

@media (max-width: 2010) {
  .main-container {
    width: 80%;
  }
}

@media (max-width:1628) {
  .main-container{
    width: 90%;
  }
}

@media (max-width:1426) {
  .main-container{
    width: 95%;
  }
}

@media (min-width:2462) {
  .main-container{
    width: 50%;
  }
}

@media (min-width:2422) {
  .main-container{
    width: 60%;
  }
}

